h1 Davi Cunha
h2 Test
h3 Test
nav
    ul
        li
            a(href="index.html") Home
        li
            a(href="gallery.html") Gallery
        li
            a(href="contact.html") Contact me

    